<div class='row col-md-12'>
  <h1>Welcome to the WitchCraft experience!</h1>
  <img src="https://66.media.tumblr.com/5fe9b88d29ae9f8a1d025418fd3234f5/tumblr_n3w4wtHC5Y1t7lixko1_500.gif"></img>
</div>
